// Colors  
$black: #111111;
$white: #FFFFFF;
$primary: #F7F0E7;
// $primaryHighlight: #FDE1D0;

// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
@font-face {
    font-family: 'Whyte-Book';
    src: local('Whyte-Book'), url(../assets/Whyte-Book.otf) format('opentype');
}
// $title: 'Sarina', cursive;
$copy: 'Whyte-Book', sans-serif;

body {
    font-size: 1em;
    line-height: 1;
    font-family: $copy;
    font-weight: 400;
    margin: 0 auto;
    min-height: 100vh;
    width: 100vw;
    background-color: $primary;
}

section.container {
    padding: 0 0.5em;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

// Title / Logo
img.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    margin: 0 auto;
    padding: 2em;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% + 3em);
}

li {
    display: flex;
    margin: 0.5em 0;
    align-items: center;
    transform: translateX(-3em);
    transition: transform 1s ease;

    &:hover {
        transform: translateX(0em);
    }
}

img.arrow {
    width: 2.5em;
    margin-right: 0.5em;
}

// "Highlighted" link styles
// a.highlight {}

// Animations
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Responsive Styles
@media (max-width: 405px) {
    body {
        font-size: 0.9em;
    }
}

@media (max-width: 364px) {
    body {
        font-size: 0.85em;
    }
}

@media (max-width: 344px) {
    img.logo {
        padding: 0.5em;
    }
    body {
        font-size: 0.75em;
    }
}