// Colors  
$black: #111111;
$white: #F1F1F1;
$primary: #22222220;
$primaryHighlight: #f2f2f240;
$background: rgb(245, 238, 226);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$title: 'Roboto',
cursive;
$copy: 'Roboto',
sans-serif;

body {
    max-width: 450px;
    font-size: 18px;
    line-height: 1.2;
    font-family: $copy;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: $primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30vh 5px;
    grid-auto-flow: dense;
    margin: 0 24px;
}

// Video 
img.video {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: -1;
}

// Profile image
div.profile-image {
    grid-column: 4 / span 6;
    padding-top: 2em;
}

img.profile {
    width: 100%;
    opacity: 0;
    animation: grow;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

// Links container
div.links {
    grid-column: span 12;
    opacity: 0;
    animation: fadeIn;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: 3 / span 8;
}

li {
    margin-bottom: .5em;
}

a {
    display: block;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    padding: 0.5em 1em;
    background-color: $primary;
    border: solid 2px $white;
    border-radius: 7px;
    box-shadow: #00000050 1px 1px 5px;

    &:hover,
    &:active,
    &:focus {
        background-color: $primaryHighlight;
    }
}

// "Highlighted" link styles
a.highlight {
    animation: twitch;
    animation-duration: 250ms;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

// Responsive styles
@media (max-width: 350px) {
    body {
        font-size: 16px;
    }
}

// Animations
@keyframes grow {
    from {
        opacity: 0;
        transform: scale(0.85)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0.25em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes twitch {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    75% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}